{% extends "crud/list.html" %}
{% load i18n user_tag %}

{% block buttons %}
  {% if request.user|has_group:"Administrador" or request.user|has_group:"Médico" or tipo == 'Administrador' %}
    <div class="actions btn-group pull-right" role="group">
      <a href="{% url 'usuarios:especialidade_create' pk %}" class="btn btn-default">Adicionar Especialidade</a>
    </div>
  {% endif %}
{% endblock buttons %}

{% block content %}
  <h2 class="legend"><b>Especialidades</b></h2>
  {% if object_list %}
    <table style="width:100%" class="table table-hover">
      {% for obj in object_list %}
        <tr>
          {% if request.user|has_group:"Administrador" or request.user|has_group:"Médico" or tipo == 'Administrador' %}
            <td><a href="{% url 'usuarios:especialidade_update' obj.pk %}">{{ obj.descricao }}</a></td>
          {% else %}
            <td>{{ obj.descricao }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% else %}
    Nenhuma especialidade cadastrada.
  {% endif %}
{% endblock content %}
