{% extends "base.html" %}
{% load i18n user_tag %}

{% block base_content %}
  {% if request.user|has_group:"Administrador" or  request.user|has_group:"Médico" or tipo == 'Administrador' %}
    <form action="" method="post">{% csrf_token %}
      <div class="panel panel-danger">
        <div class="panel-heading  text-center">
          {% blocktrans %}
            Confirma exclusão de "{{ object }}"?
          {% endblocktrans %}
        </div>
        <div class="panel-body text-center">
          <a href="{{ view.cancel_url }}" class="btn btn-inverse">{% trans 'Cancelar'  %}</a>
          <input name="submit" value="{% trans 'Confirmar' %}" class="btn btn-danger" type="submit"></li>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock %}
