{% extends "base.html" %}
{% load i18n %}

{% block title %}
  <h1 class="page-header" style="text-align: center;">Sistema de Controle de Pacientes</h1>
{% endblock %}

{% block base_content %}
  <font color="green" ><p style="font-size:23px; text-align:center;">{{msg}}<br /></font>
  <p style="font-size:20px;">Olá, <font color="#5AB9E8"><b>{{nome}}</b></font>. Você está logado como <font color="#5AB9E8"><b>{{tipo}}</b></font> e possui as seguintes opções de menu:</p><br /><br />

  <div class="btn-group" style="float:right;">
    <a href="{% url 'usuarios:mudar_senha' %}" class="btn btn-warning btn-lg">Mudar Senha</a>
    <a href="{% url 'logout' %}" class="btn btn-danger btn-lg">Sair</a>
  </div>
  <br /><br />

  {% if tipo == 'Administrador' %}
    {% include "menus/menu_adm.html" %}
  {% endif %}

  {% if tipo == 'Médico' %}
    {% include "menus/menu_medico.html" %}
  {% endif %}

  {% if tipo == 'Paciente' %}
    {% include "menus/menu_paciente.html" %}
  {% endif %}

  {% if tipo == 'Outro' %}
    {% include "menus/menu_outro.html" %}
  {% endif %}
{% endblock %}
