{% extends "base.html" %}
{% load i18n %}

{% block title %}
  <h1 class="page-header" style="text-align: center;">Sistema de Controle de Pacientes</h1>
{% endblock %}

{% block base_content %}
  <p style="font-size:20px;">Olá, <font color="#5AB9E8"><b>{{nome}}</b></font>. Você está logado como <font color="#5AB9E8"><b>{{tipo}}</b></font> e possui as seguintes opções de menu:</p><br /><br />

  {% if tipo == 'Administrador' %}
    <a href="{% url 'usuarios:tipousuario_list' %}" class="btn btn-info btn-lg">Ver Tipos de Usuário</a></a>
    <a href="{% url 'usuarios:planosaude_list' %}" class="btn btn-info btn-lg">Ver Planos de Saúde</a></a>
    <a href="{% url 'usuarios:usuario_list' %}" class="btn btn-info btn-lg">Ver Usuários</a></a>
    <a href="{% url 'servicos:consulta_list' %}" class="btn btn-info btn-lg">Ver Consultas</a></a>
  {% endif %}

  {% if tipo == 'Médico' %}
    <a href="{% url 'servicos:consulta_list' %}" class="btn btn-info btn-lg">Ver Consultas</a></a>
    <a href="{% url 'servicos:consulta_create' %}" class="btn btn-info btn-lg">Cadastrar Consulta</a></a>
    <a href="{% url 'usuarios:usuario_detail' user_pk %}" class="btn btn-info btn-lg">Ver Perfil</a></a>
    <a href="{% url 'usuarios:usuario_update' user_pk %}" class="btn btn-info btn-lg">Editar Perfil</a></a>
  {% endif %}

  {% if tipo == 'Paciente' %}
    <a href="{% url 'usuarios:usuario_detail' user_pk %}" class="btn btn-info btn-lg">Ver Perfil</a></a>
    <a href="{% url 'usuarios:usuario_list' %}" class="btn btn-info btn-lg">Ver Consultas</a></a>
    <a href="{% url 'usuarios:usuario_update' user_pk %}" class="btn btn-info btn-lg">Editar Perfil</a></a>
  {% endif %}

  {% if tipo == 'Outro' %}
    <font color="red">Por falta de configuração esse tipo de usuário não possui nenhuma funcionalidade disponível.</font><br />
  {% endif %}

  <a href="{% url 'logout' %}" class="btn btn-danger btn-lg">Sair</a></a>

{% endblock %}
