{% extends "base.html" %}
{% load i18n %}

{% block title %}
  <h1 class="page-header" style="text-align: center;">Sistema de Controle de Pacientes</h1>
{% endblock %}

{% block base_content %}
  <font color="green" ><p style="font-size:23px; text-align:center;">{{msg}}<br /></font>
  <p style="font-size:20px;">Olá, <font color="#5AB9E8"><b>{{nome}}</b></font>. Você está logado como <font color="#5AB9E8"><b>{{tipo}}</b></font> e possui as seguintes opções de menu:</p><br /><br />

  <div class="btn-group" style="float:right;">
    <a href="{% url 'usuarios:mudar_senha' %}" class="btn btn-warning btn-lg">Mudar Senha</a>
    <a href="{% url 'logout' %}" class="btn btn-danger btn-lg">Sair</a>
  </div>
  <br /><br />

  {% if tipo == 'Administrador' %}
    <div class="btn-group btn-group-lg">
      <a href="{% url 'usuarios:tipousuario_list' %}" class="btn btn-info btn-lg">Tipos de Usuário</a>
      <a href="{% url 'usuarios:planosaude_list' %}" class="btn btn-info btn-lg">Planos de Saúde</a>
      <a href="{% url 'usuarios:usuario_list' %}" class="btn btn-info btn-lg">Usuários</a>
      <a href="{% url 'servicos:consulta_list' %}" class="btn btn-info btn-lg">Consultas</a>
      <a href="{% url 'usuarios:especialidade_list' %}" class="btn btn-info btn-lg">Especialidades</a>
    </div>
    <br /><br />
    <div class="btn-group btn-group-lg">
      <a href="{% url 'usuarios:especialidademedico_list' %}" class="btn btn-info btn-lg">Especialidade <-> Médico</a>
      <a href="{% url 'usuarios:pesquisar_medico' %}" class="btn btn-info btn-lg">Pesquisar Médico</a>
      <a href="{% url 'servicos:statuschamado_list' %}" class="btn btn-info btn-lg">Status Chamado</a>
      <a href="{% url 'servicos:chamado_list' %}" class="btn btn-info btn-lg">Chamados</a>
    </div>

  {% endif %}

  {% if tipo == 'Médico' %}
    <div class="btn-group btn-group-lg">
      <a href="{% url 'servicos:consulta_list' %}" class="btn btn-info btn-lg">Consultas</a></a>
      <a href="{% url 'servicos:consulta_create' %}" class="btn btn-info btn-lg">Cadastrar Consulta</a></a>
      <a href="{% url 'usuarios:usuario_detail' user_pk %}" class="btn btn-info btn-lg">Ver Perfil</a></a>
      <a href="{% url 'usuarios:usuario_update' user_pk %}" class="btn btn-info btn-lg">Editar Perfil</a></a>
      <a href="{% url 'usuarios:pesquisar_medico' %}" class="btn btn-info btn-lg">Pesquisar Médico</a>
    </div>
  {% endif %}

  {% if tipo == 'Paciente' %}
    <div class="btn-group btn-group-lg">
      <a href="{% url 'servicos:consulta_list' %}" class="btn btn-info btn-lg">Ver Consultas</a></a>
      <a href="{% url 'usuarios:pesquisar_medico' %}" class="btn btn-info btn-lg">Pesquisar Médico</a>
    </div>
  {% endif %}

  {% if tipo == 'Outro' %}
    <font color="red">Por falta de configuração esse tipo de usuário não possui nenhuma funcionalidade disponível.</font><br />
  {% endif %}
{% endblock %}
